In [21]:
import pandas as pd

In [22]:
#Reading the csv file into a dataframe using Pandas library


data=pd.read_csv(r"C:\Users\hocin\Downloads\Jupyter\weight-height.csv")

In [23]:
#Assigning values to Heights and Weights
heights=data.iloc[:,1]
weights=data.iloc[:,2]

In [24]:
#Converting Heights and Weights into Centimeter and Pound Using Operations 

heights=heights * 2.54
weights= weights * 0.453592

In [25]:
data['Height_(CM)']=heights.values # After the conversion, appended a new Heights column with values in Centimeter
data['Weight_(KG)']=weights.values # Appended a new Weights column with values in Pound

data

      Gender     Height      Weight  Height_(CM)  Weight_(KG)
0       Male  73.847017  241.893563   187.571423   109.720985
1       Male  68.781904  162.310473   174.706036    73.622732
2       Male  74.110105  212.740856   188.239668    96.497550
3       Male  71.730978  220.042470   182.196685    99.809504
4       Male  69.881796  206.349801   177.499761    93.598619
...      ...        ...         ...          ...          ...
9995  Female  66.172652  136.777454   168.078536    62.041159
9996  Female  67.067155  170.867906   170.350573    77.504315
9997  Female  63.867992  128.475319   162.224700    58.275377
9998  Female  69.034243  163.852461   175.346978    74.322166
9999  Female  61.944246  113.649103   157.338385    51.550324

[10000 rows x 5 columns]

In [26]:
# Printing information about the data

print("Height Standard Deviation = ",data['Height_(CM)'].std())
print("Height average = ",data['Height_(CM)'].mean())
print("Height median = ",data['Height_(CM)'].median())
print("Height variance = ",data['Height_(CM)'].var())

Height Standard Deviation =  9.772721426764
Height average =  168.57360177724595
Height median =  168.44789800773304
Height variance =  95.50608408513222

In [27]:
# We could Also use ´describe() function:
print("Inromation about Heights")
data['Height_(CM)'].describe()

Inromation about Heights

count    10000.000000
mean       168.573602
std          9.772721
min        137.828359
25%        161.304276
50%        168.447898
75%        175.702625
max        200.656806
Name: Height_(CM), dtype: float64

In [28]:
print("Weight Standard Deviation = ",data['Weight_(KG)'].std())
print("Weight average = ",data['Weight_(KG)'].mean())
print("Weight median = ",data['Weight_(KG)'].median())
print("Weight variance = ",data['Weight_(KG)'].var())

Weight Standard Deviation =  14.564131065845238
Weight average =  73.22805433651739
Weight median =  73.1248943010639
Weight variance =  212.11391370311836

In [29]:
#Same for Weights, We could Also use ´describe() function:
print("Inromation about Heights")
data['Weight_(KG)'].describe()

Inromation about Heights

count    10000.000000
mean        73.228054
std         14.564131
min         29.347460
25%         61.605982
50%         73.124894
75%         84.898599
max        122.465167
Name: Weight_(KG), dtype: float64

In [30]:
print("Height Average")
data.groupby('Gender')['Height_(CM)'].mean() # I used groupby() to group all the data by gender and height average

Height Average

Gender
Female    161.820285
Male      175.326919
Name: Height_(CM), dtype: float64

In [32]:
print("Weight Average")
data.groupby('Gender')['Weight_(KG)'].mean() # I used groupby() to group all the data by gender and height average

Weight Average

Gender
Female    61.625051
Male      84.831057
Name: Weight_(KG), dtype: float64